<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <form enctype="multipart/form-data" method="post" action="https://foundationsdemo123.azurewebsites.net/api/upload/file" id="ajaxUploadForm" novalidate="novalidate">
            <input name="file1" type="file" />
            <input id="fileSubmit" type="submit" />
        </form>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
